/* Global */
*, *::before, *::after {
    box-sizing: border-box;
 }

 body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 1.7;
}
  